{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>using sslyze in Django app</title>

    <link rel="stylesheet" type="text/css" href="{% static 'demo_sslyze/index.css' %}">
    <script type="text/javascript" src="{% static 'demo_sslyze/index.js' %}"></script>
</head>
<body>
    <h1>SSLyze</h1>

    <form action="/sslyze/" method="post"> 
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Run SSLyze">
    </form>

    <span id="output" data-task-id="{{ task_id }}">{{ output }}</span>
</body>
</html>
